.h6-style{
    background-image: linear-gradient(105deg, #75b469, #efce74, #fb833f, #fecc4f, #fb11e0, #fe732b, #0149ff, #01a3ff, #3e85fe, #883eec, #75b469);
  background-size: 900%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -text-fill-color: transparent; /* Ensures compatibility for text fill in some browsers */
  font-family: Sans-serif;
}
.hero-section{
    background: linear-gradient(180deg , black, rgb(29, 29, 29),rgb(40, 40, 40),black);
    font-family:  Sans-serif;
}
p{
    font-family:  Sans-serif;
    font-size: 20px;
}
.Hero-btn{
    background-color: #fe732b;
    color: white;
    font-weight: 300;
   
}